@using AgendaClinica.Core
@model Massagem

<p>@Html.DisplayNameFor(model => model.idMassagem): @Html.DisplayFor(model => model.idMassagem) </p>
<p>@Html.DisplayNameFor(model => model.cliente.Nome): @Html.DisplayFor(model => model.cliente.Nome) </p>
<p>@Html.DisplayNameFor(model => model.idTipomassagem.Nome): @Html.DisplayFor(model => model.idTipomassagem.Nome) </p>
<p>@Html.DisplayNameFor(model => model.DataAgendamento): @Html.DisplayFor(model => model.DataAgendamento) </p>