@using AgendaClinica.Models
@model ClienteViewModel
<form id="formCreate">
    @Html.ValidationSummary(true)

    <div class="editor-label">
        Código
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.id)
        @Html.ValidationMessageFor(model => model.id)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Nome)
        @Html.ValidationMessageFor(model => model.Nome)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.SobreNome)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.SobreNome)
        @Html.ValidationMessageFor(model => model.SobreNome)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.celular)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.celular)
        @Html.ValidationMessageFor(model => model.celular)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Telefone)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Telefone)
        @Html.ValidationMessageFor(model => model.Telefone)
    </div>


    <div class="editor-label">
        @Html.LabelFor(model => model.cpf)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.cpf)
        @Html.ValidationMessageFor(model => model.cpf)
    </div>

    <div class="editor-label">
        Endereço
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.endereço)
        @Html.ValidationMessageFor(model => model.endereço)
    </div>

</form>
<hr />
<div>
    <button class="ui-state-default ui-corner-all" id="btnSave">Salvar</button>
    <button class="ui-state-default ui-corner-all" id="btnClose">Cancelar</button>
</div>

<script>
    $("#btnSave").click(function () {
        $.post("/cliente/create", $("#formCreate").serialize()
        ).done(function () {
            $("#divClientes").load("/cliente/list");
        });
        $("#modal").dialog("close");
    });
    $("#btnClose").click(function () {
        $("#modal").dialog("close");
    });
</script>
