@using AgendaClinica.Core
@model Cliente

    <p>@Html.DisplayNameFor(model => model.idPessoa): @Html.DisplayFor(model => model.idPessoa) </p>
    <p>@Html.DisplayNameFor(model => model.Nome): @Html.DisplayFor(model => model.Nome) </p>
    <p>@Html.DisplayNameFor(model => model.Celular): @Html.DisplayFor(model => model.Celular) </p>