@using AgendaClinica.Core
@model Cliente

<form id="formEdit">
    <div class="editor-label">
        @Html.LabelFor(model => model.idPessoa)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.idPessoa)
        @Html.ValidationMessageFor(model => model.idPessoa)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Nome)
        @Html.ValidationMessageFor(model => model.Nome)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Celular)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Celular)
        @Html.ValidationMessageFor(model => model.Celular)
    </div>
</form>
<hr />
<div>
    <button class="ui-state-default ui-corner-all" id="btnSave">Salvar</button>
    <button class="ui-state-default ui-corner-all" id="btnClose">Cancelar</button>
</div>

<script>
    $("#btnSave").click(function () {
        $.post("/cliente/edit", $("#formEdit").serialize()
        ).done(function () {
            $("#divClientes").load("/cliente/list");
        });
        $("#modal").dialog("close");
    });
    $("#btnClose").click(function () {
        $("#modal").dialog("close");
    });
</script>